/**
 * Created by Zep on 2017/11/23.
 */

// 主题色
$theme_color: #b60081;
// 深主题色
$theme_subcolor: #231815;
// 浅主题色
$theme_supcolor: #727171;

// 主要字体颜色
$theme_font_color: #282828;
// 次要字体颜色
$theme_font_subcolor: #656565;
// 浅色字体色
$theme_font_supcolor: #989898;

// 个别特殊用色
$theme_red: #ff3646;

// 背景色
$theme_bg: #eeeff3;

// 边框色
$theme_border: #e4e4e4;

// 块间间距
$theme_margin: 8px;

// 默认按钮高度
$border_height:36px;
$themeColor: #05d7d0;
$themeColorStart: #03c8c1;
$themeColorEnd: #05d7d0;
// $themeColor:black;

